/* Importando a fonte utilizada no site */
@import url('https://fonts.googleapis.com/css?family=Inter');

/* Deixando o padding no 0 para poder posicionar melhor, além de marcar a fonte utilizada e uma alternativa caso a primeira não funcione */
*{
    padding: 0px;
    font-family: 'Inter',sans-serif;
}

/* Estilo do corpo do site */
body{
    background-color: #EBEBEB;
    position: relative;
    display: flex;
    justify-content: center;
    top: 140px;
}


/* Estilo da div central do site*/
.center{
    position: absolute;
    width: 560px;
    height: 450.29px;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 2.94434px;
}


/*Estilo do título "CADASTRO" da página, localizado dentro da div*/
h1{
    position: absolute;
    width: 247.04px;
    height: 28.6px;
    left: 156.48px;
    top: 13.69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 31.7731px;
    line-height: 38px;
    text-align: center;  
}


/*Estilo da imagem ao lado do título "CADASTRO" da página*/
#Img{
    position: absolute;
    width: 22.24px;
    height: 23.04px;
    left: 161.25px;
    top: 41.63px;
    background: url(OIP.jpg);
}


/*Estilo do campo de formulário do site*/
.form-control input{
    position: absolute;
    width: 471.04px;
    height: 43.69px;
    left: 41.05px;
    right: 40.05px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19.0638px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 0.588867px solid #000000;
    border-radius: 1.7666px;
}


/*Estilo específico do placeholder dos campos de credeciais*/
.form-control :placeholder-shown{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 19.0638px;
    line-height: 23px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    mix-blend-mode: normal;
}


/*Estilo específico do campo Usuário*/
.form-control #Usuario{
    top: 94px;
}


/*Estilo específico do campo Email*/
.form-control #Email{
    top: 164px;
}


/*Estilo específico do campo Senha*/
.form-control #Senha{
    top: 234px;
}


/*Estilo específico do campo Confirmar Senha*/
.form-control #CFSenha{
    top: 304px;
}


/*Estilo específico do botão Registrar*/
.form-control #REGISTRAR{
    top: 374px;
    width: 475.04px;
    font-weight: bold;
    background: #F82A15;
    border: 0.588867px solid #F82A15;
    border-radius: 1.7666px;
    cursor: pointer;
}


/*Estilo específico da imagem localizada dentro do botão "Registrar conta"*/
form #REGISTRAR_IMG{
    position: absolute;
    width: 29.71px;
    height: 27.01px;
    left: 61.96px;
    top: 379.04px;
    background: url(images.png), url(images.png);
    mix-blend-mode: darken;
}


/*Estilo específico do botão "Registrar Conta" ao passar com o mouse por cima dele*/
.form-control #REGISTRAR:hover{
    background-color: #da2b18;
    border-color: #da2b18;
}
