*{
    font-family: 'Inter';
}
body{
    background-color: #EBEBEB;
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
}
h1{
    position: absolute;
    width: 247.04px;
    height: 28.6px;
    left: 159.48px;
    top: 13.69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 31.7731px;
    line-height: 38px;
    text-align: center;  
}

#Img{
    position: absolute;
    width: 22.24px;
    height: 23.04px;
    left: 161.25px;
    top: 41.63px;
    background: url(OIP.jpg);
}

.center{
    position: absolute;
    width: 560px;
    height: 512.29px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 2.94434px;
}

.form-control input{
    position: absolute;
    width: 476.04px;
    height: 43.69px;
    left: 40.05px;
    right: 40.05px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19.0638px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 0.588867px solid #000000;
    border-radius: 1.7666px;
}

.form-control #Usuario{
    top: 93px;
}
.form-control #Email{
    top: 163px;
}
.form-control #Senha{
    top: 233px;
}
.form-control #CFSenha{
    top: 303px;
}
.form-control #REGISTRAR{
    width: 478.04px;
    top: 380.48px;
    font-weight: bold;
    background: #F82A15;
    border: 0.588867px solid #F82A15;
    border-radius: 1.7666px;
    cursor: pointer;
}

.form-control :placeholder-shown{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 19.0638px;
    line-height: 23px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    mix-blend-mode: normal;
}

#REGISTRAR_IMG{
    position: absolute;
    width: 29.71px;
    height: 27.01px;
    left: 61.96px;
    top: 386.04px;
    background: url(images.png), url(images.png);
    mix-blend-mode: darken;
}

a #RETORNAR_LOGIN{
    position: absolute;
    width: 478.04px;
    height: 43.69px;
    left: 40.05px;
    right: 40.05px;
    top: 440.85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19.0638px;
    line-height: 23px;
    text-align: center;
    background: #44e0ff;
    border: 2px solid #44e0ff;
    border-radius: 0.588867px;
    cursor: pointer;

}
#RETORNO_IMG{
    mix-blend-mode: darken;
    position: absolute;
    width: 25.42px;
    height: 23.83px;
    left: 61.96px;
    top: 451.18px;
    mix-blend-mode: darken;
}
.form-control #REGISTRAR:hover{
    background-color: #da2b18;
    border-color: #da2b18;
}
a #RETORNAR_LOGIN:hover{
    background-color: #3badc4;
    border-color: #3badc4;
}